@{
    ViewData["Title"] = "Home Page";
}
  
<h1 class="display-4 text-center">{CODE} COMMUNITY FORUM</h1>
<ul class="list-group mt-4">
    <li class="list-group-item bg-dark">
        <strong><a href="#" class="float-left ml-20">INTRODUCTIONS</a></strong>
        <span class="badge badge-warning float-right mr-20"> 22</span>
    </li>
    <li class="list-group-item list-group-item-light-grey">
        <strong><a href="#" class="float-left ml-20">CSHARP</a></strong>
        <span class="badge badge-warning float-right mr-20"> 12</span>
    </li>
    <li class="list-group-item bg-dark">
        <strong><a href="#" class="float-left ml-20">VB</a></strong>
        <span class="badge badge-warning float-right mr-20"> 17</span>
    </li>
    <li class="list-group-item list-group-item-light-grey">
        <strong><a href="#" class="float-left ml-20">ASPNET</a></strong>
        <span class="badge badge-warning float-right mr-20"> 28</span>
    </li>
    <li class="list-group-item bg-dark">
        <strong><a href="#" class="float-left ml-20">NEWS</a></strong>
        <span class="badge badge-warning float-right mr-20"> 8</span>
    </li>
</ul>
  
